.header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.foot {
    position: sticky;
    bottom: 0;
    z-index: 9999;
}
.header img {
    width: 55px;
    height: 38px;

}

.slider img {
    width: 300px;
    height: 300px;
}

.introduction .flex img {
    width: 100%;
    height: 385px;
    box-sizing: border-box;
    object-fit: cover;
}

.introduction .flex p {
    text-align: justify;
}

.document h2 {
    text-shadow: 2px 1px 4px black;
}

.document .card img {
    width: 100%;
    height: 270px;
}

.interview h2 {
    text-shadow: 2px 1px 4px black;
}

.gallery h2 {
    text-shadow: 2px 1px 4px black;
}

.gallery .card img {
    width: 100%;
    height: 270px;
}

.contact h2 {
    text-shadow: 2px 1px 4px black;
}

.card {
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px black;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 24px rgba(0,0,0,0.2);
    }

    .introduction .flex img{
      width: 100%;
      height: 450px;
      padding: 20px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px black;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .introduction .flex img:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 24px rgba(0,0,0,0.2);
    }

